html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
canvas {
  display: block;
}

p{
  background: white;
  color: green;
}

#sketch1{
  
  width: 500px;
  height: 500px;
  margin: 0 auto;
  
}

#sketch2{
  
  width: 600px;
  height: 600px;
  margin: 20px auto;
  
}
